<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3hh4xx0r.tweezee"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo"        
        android:label="TweeZee" >
        <activity
            android:name="TwitterAuth"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="SettingsMenu"
            android:label="Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="AccountManager"
            android:label="AccountManager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="EntryAdd"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="DayPicker"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="MainActivity"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait"
            android:label="Mentions"
            android:name=".MentionsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>        
        <receiver android:name=".Receiver" />        
	</application>
</manifest>