<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3hh4xx0r.tweezee"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission 
     android:label="Recieve registration broadcasts" 
     android:name="com.t3hh4xx0r.tweezee.REGISTER" 
     android:protectionLevel="signature" />
    <uses-permission android:name="com.t3hh4xx0r.tweezee.REGISTER" />
    <permission 
     android:label="Send registration broadcasts" 
     android:name="com.t3hh4xx0r.tweezeepremium.REGISTERED" 
     android:protectionLevel="signature" />
    <uses-permission android:name="com.t3hh4xx0r.tweezeepremium.REGISTERED" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo"        
        android:label="TweeZee" >
        <activity
            android:name="TwitterAuth"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="SettingsMenu"
            android:label="Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="AccountManager"
            android:label="Account Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="EntryAdd"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="DayPicker"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
       <activity
            android:name="MainActivity"
            android:label="TweeZee" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait"
            android:label="Mentions"
            android:name=".MentionsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
       </activity>
       <activity android:screenOrientation="portrait"
            android:name=".Splash" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>        
       </activity>       
		<activity	
			android:name="com.pontiflex.mobile.webview.sdk.activities.MultiOfferActivity"/>	
		<activity	
  			android:name="com.pontiflex.mobile.webview.sdk.activities.RegistrationActivity"
  			android:configChanges="keyboardHidden"/>        
       <receiver android:name=".Receiver" />        
        <receiver android:name=".BootReceiver">
		  <intent-filter android:priority="2147483647"> 
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
  		  </intent-filter> 
		</receiver>        
        <receiver android:name=".RegistrationService">
            <intent-filter>
                <action android:name="com.t3hh4xx0r.tweezeepremium.REGISTERED" />
            </intent-filter>
        </receiver> 
        <receiver android:name=".TweezeeReceiver"/>
        <service
			android:name=".TweezeeService" >
		</service>   
	</application>
</manifest>